//-
  -    FOOTER
  -    ======
  -
  -    Footer view
  -
  -    Questions to Francois <francoisrvespa@gmail.com>
//-

footer.row
  .columns.small-12.text-center

    //- Footer links
    a(href='/privacy-policy') Privacy Policy
    a(href='/terms-of-service') Terms Of Service
    a(href='/contact-us') Contact Us
