doctype html

//- Head
block meta
  include ../partials/head

//- Page

section(role='main')

  // Contenu principal
  
  block page

//- Footer

include ../partials/footer

//- Scripts
block scripts
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/cdn/js/foundation.min.js')
  - if ( settings.env === 'production' )
    script(src='/cdn/js/google-map-searchbox.min.js')
    script(src='/cdn/js/app.min.js')
  - else
    script(src='/js/google-map-searchbox.js')
    script(src='/cdn/js/app.js')