//-
  -    LAYOUT
  -    ======
  -
  -    Main layout
  -
  -    Questions to Francois <francoisrvespa@gmail.com>
//-

//- HTML5 
doctype html

//- Head
include ../partials/head

//- Page
block page

//- Footer
include ../partials/footer
